@{
    ViewData["Title"] = "Home Page";
    var count = (int?)ViewData["Counter"] ?? 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Välkommen till vår webbapplikation!</p>
    
</div>
<h2>Counter</h2>

<p>Current count is: <strong id="count">@count</strong></p>

<form asp-action="Increment" method="post" class="mt-3">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Klickar</button>
</form>